.card.mx-auto.text-center.px-4.pt-4.pb-3.mt-5
  = form_for event do |f|
    = f.label :name, 'Event name'
    = f.text_field :name, class: 'form-control mb-3'
    = f.submit 'Submit', class: 'btn btn-success'
